$green: #43a647;
$red: #EA1E21;
$light-grey: #EBEBEB;
$medium-grey: #e0e0e0;
$black: #282828;
$border-grey: mix($medium-grey, $black, 95%);
$white: #eeeeee;

@mixin color-button($color) {
  background-color: desaturate($color, 25%);
  &:hover, &:active {
    background-color: $color;
  }
}

.modal-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top:0;
  visibility: visible;
  width: 100vw;
  z-index: 1000;
}


.modal {
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(40, 40, 40, .7);
  left: auto;
  max-width: 90vw;
  min-width: 255px;
  position: relative;
  width: 400px;

  &-header {
    background-color: $medium-grey;
    border-bottom: 1px solid $border-grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1rem;

    &> h2 {
      margin: 0;
    }
  }

  &-close {
    background-color: transparent;
    border: 0;
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 5px;
    position: absolute;
    right: 0;
    top: 0;
  }

  &-fields {
    display: flex;
    flex-direction: column;

    &-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      padding: 1rem;

      &>input {
        max-width: 90%;
        flex-grow: 1;
        margin-left: 1rem;
      }
      &>label {
        width: 4em;
        text-align: right;
      }
    }
  }

  &-footer {
    display: flex;
    background-color: $medium-grey;
    justify-content: flex-end;
    padding: .6rem;
    border-top: 1px solid $border-grey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &>button {
      border: 0;
      border-radius: 5px;
      color: $white;
      font-weight: bold;
      margin-right: .5rem;
      padding: .4rem .6rem;
    }
  }
}

@each $btn, $color in (cancel, $red), (ok, $green) {
  .#{$btn}-button {
    @include color-button($color);
  }
}

.overlay {
  background-color: transparentize($black, .8);
  visibility: visible;
  height: 100%;
  left: 0;
  opacity: .7;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}