.MarkdownPreview {
  @import 'monokai';

  background-color: #eee;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  padding: 0 3rem;
  width: 50vw;

  & img {
    max-width: 100%;
  }

  @media (max-width:800px) {
    width: 100vw;
  }
}