.Button {
  align-items: center;
  border-radius: 5px;
  color: #eee;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  height: 100%;
  margin: 0 .3em;

  &:hover {
    color: #343d46;
    font-weight: 700;
  }

  &>span {
    margin: 10%;
    text-transform: capitalize;
  }
}