.Button {
  align-items: center;
  border-radius: 5px;
  color: #eee;
  cursor: pointer;
  display: flex;
  font-size: 1.3rem;
  height: 100%;
  margin: 0 .4rem;

  &:hover {
    color: #343d46;
    font-weight: 700;
  }
}