.Button {
  $blue: #1872B3;
  $light-grey: #eee;

  align-items: center;
  border-radius: 5px;
  color: $light-grey;
  cursor: pointer;
  display: flex;
  font-size: 1.3rem;
  height: 100%;
  margin: 0 .4rem;

  &:hover {
    font-weight: 700;
    background-color: mix($blue, $light-grey, 80%);
  }
}