.ButtonList {
  $light-grey: #eee;

  align-items: center;
  border-right: 1px dashed transparentize($light-grey, .8);
  display: flex;
  list-style: none;
  margin: 0 .3125rem;

  &:last-of-type {
    border-right: none;
    /* space extra to avoid the last ButtonList to be faded by fade-limits */
    padding-right: 3rem;
  }
}