.MarkdownGroup {
  $light-grey: #eee;
  /*
    Without a background-color setted, there is an strange behaviour when
    changing between slides
  */
  background-color: $light-grey;
  display: flex;
  /*
    Magical numbers here (3rem and 13px) are for place the component just after
    the TopBar one and over an eventual horizontal scrollbar when there're so
    many elements in the bar or user zooms in too much
  */
  height: calc(100vh - 3.4rem + 13px);
  margin-top: calc(3.4rem - 13px);
  overflow: hidden;
  z-index: 100;

  @media (max-width:800px) {
    width: 100vw;
  }
}